/* all pages */
body {
  background-color: white;

}


footer {
  margin: 20px;
  font-size: 12px;
} 

.toast {
    /* dirty: below 'card' button  */
    position: fixed; 
    top: 50px; 
    right: 0; 
    z-index:0;
}

.shop-button {
  font-size: 15px;
  margin-top: -4px;
}

.article-container {
  margin: auto;
}

.card {
  width:200px; 
  height: 700px; 
  margin-bottom: 20px
}

.card-header {
  height: 5em;
}

.card-text {
  min-height:10em
}

/* index page */
.product{
  width: 100%; 
  height: inherit; 
  margin-bottom: 20px;
  margin-top: 20px;
}

.product img {
  margin: auto;
  margin-top: 20px;
}

.product > .card-header {
  height:3em
}

.product-properties > li > .property-name {
  display: inline-block;
  width: 30px;
}
.product_amount {
  width: 80px
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* basket page */
.product-properties {
  margin-top:20px;
  list-style: none; 
  padding-left: 5px; 
  font-size: 15px"
}

.product_row  .product-properties  li {
  width: 25%;
  float: left;
}

/* nav-bar */
.navbar {
  list-style-type: none;
  margin: auto;
  background-color: #d9d9d9;
  padding left: 15%;
  overflow: hidden;
}

.navbar-brand {
display: block;
color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-block-end: 1px;
}

a.navbar-brand:hover {
  color: rgb(0, 0, 0);
}

h1 {
  text-align: center;
}

/* card */
.card-img, .card-img-top {
  height: auto;
  max-height: auto;
}

a:hover {
  color: black;
}

a {
  color: black;
}
.card {
  widt: 240px;
}

.product_stock {
padding: 25%;
}

.shoe {
  width: 1200px;
}